*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Playfair', serif;
}

.bg{
    width: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0.4;
}

.container {
    max-width: 80%;
    padding: 34px;
}

.container h1{
    font-size: 40px;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
}

.container p{
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
}

input,textarea{
    border: 2px solid black;
    border-radius: 6px;
    outline: none;
    font-size: 16px;
    width: 80%;
    margin: 11px 0px;
    padding: 7px;
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.btn{
    color: white;
    background: purple;
    padding: 8px 12px; 
    font-size: 18px;
    border: 2px solid white;
    border-radius: 14px;
    cursor: pointer;
}

.submsg{
    color: red;
    font-size: 40px;
}


.feature {
        margin-top: 20px;
        padding: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 1px 1px 3px #eee;
        cursor: pointer;
        transition: all 0.3s ease;
    }

.feature:hover {
        box-shadow: 2px 2px 5px #ddd;
    }

.feature-title {
        margin: 0;
    }

